
.container {
    pointer-events: none;
    position: absolute;
    height: 800px;
    width: 1800px;
    background: rgb(0, 0, 0);
}

#player {
    display: flex;
    align-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    height: 30px;
    width: 30px;
    
}
#player-img {
    scale: 2;
    transform: rotate(180deg);
}

.bullet {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(221, 55, 55);
    height: 8px;
    width: 8px;
}

.asteroid {
    position: absolute;
        top: 0px;
        left: 0px;
        background: rgb(0, 0, 0);
        height: 60px;
        width: 60px;
        border: 2px solid rgb(207, 199, 199);
        border-radius: 5%;
}


#lives {
    font-family: 'Press Start 2P';
    position: relative;
    top: 20px;
    display: inline;
    padding: 100px;
    margin: 300px;
    text-align: start;
    color: aliceblue;
}

#score {
    position: relative;
    top: 20px;
    font-family: 'Press Start 2P';
    display: inline;
    text-align: end;
    color: aliceblue;
}
#restart-button {
    position: relative;
    height: 80px;
    width: 80px;
    top: 700px;
    left: 20px;
}
#restart-button-img {
    position: relative;
    left: -80px;
    top: -75px;
    scale: 0.37;
}
.game-over {
    font-family: 'Press Start 2P';
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1800px;
    height: 150px;
    text-align: center;
    color: rgba(0, 0, 0, 0.973);
    background-color: rgb(224, 36, 52);
}