.container {
    position: absolute;
    height: 800px;
    width: 1800px;
    background: rgba(0, 0, 0, 0.973);
}

#player {
    display: flex;
    align-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    height: 30px;
    width: 30px;
}

.bullet {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(221, 55, 55);
    height: 8px;
    width: 8px;
}

.asteroid {
    position: absolute;
        top: 0px;
        left: 0px;
        background: rgb(207, 199, 199);
        height: 60px;
        width: 60px;
}


#lives {
    display: inline;
    padding: 50px;
    margin: 450px;
    text-align: start;
    color: aliceblue;
}

#score {
    display: inline;
    text-align: end;
    color: aliceblue;
}