.container {
    position: absolute;
    height: 800px;
    width: 1800px;
    background: rgba(0, 0, 0, 0.973);
}

#player {
    
    position: absolute;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    height: 30px;
    width: 30px;
}